%html
  %head
    %title {Taeyoon Kim}
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    %link{rel: "stylesheet", media:"screen", href: "https://taeyoonkim.com/master/assets/css/screen.css"}
  %body
    %header#header
      %h1 title my awesome post
        %a{href: "{http://infinitearchitect.tumblr.com}"} {Taeyoon's Tumblr Blog}

      .main
        {block:Posts}
        {block:Text}
        %article.text
          %header
            %h2
              {block:IndexPage}
              %a{href: "{Permalink}"} {Title}
              {/block:IndexPage}
              {block:PermalinkPage}
              {Title}
              {/block:PermalinkPage}
          .content {Body}
          %p This is the text post
          %footer
            %p Posted at {12Hour}:{Minutes}{AmPm} {Month} {DayOfMonth}, {Year}
        {/block:Text}
        {block:Photo}
        %article.photo
          %figure{aria-labelledby: "photo{PostID}"}
            %img{src: "{PhotoURL-HighRes}", alt: "{PhotoAlt}"}
            %figcaption{id: "photo{PostID}"} {Caption}
        {/block:Photo}
        {/block:Posts}
